*.exe
*.code-workspace
test.c
tempCodeRunnerFile.c
serejaAndDima
*.DS_Store
fairDivision.dSYM/
fairDivision
bachgoldProblem
boringApartments
dislikeofThrees
doNotBeDistracted
giftsFixing
honestCoach
minimalSquare
softDrinking
spyDetected
twoArraysAndSwap
tempCodeRunnerFile 
magicalSticks
blackSquare